p {
  color: #94b6d3;
  background-color: #36669f;
}
.second-paragraph {
  color: #b58900;
}
#third-paragraph {
  color: #d33682;
}
img {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
lead {
  color: #ddb66f;
  background-color: #dd816f;
}
